<nav class="sidebar">
    <header>
        My app
            <ul>
                <li><a href="/" class="fas fa-home"><i>Início</i></a></li>
                <li><a href="/editar" class="fas fa-edit"><i>Editar dados</i></a></li>
                <li><a href="/atestado" class="fas fa-calendar"><i>Envio atestado</i></a></li>
            </ul>
        </nav>
    </header>
</nav>