<nav class="container col-2">
    <header><i class="fa-solid fa-arrow-right-from-bracket">Logout</i></header>
  <ul class="nav flex-column">
      <li class="nav-item"><a href="/" class="nav-link fas fa-home white-text icon">Home</a></li>
      <li class="nav-item dropdown"><a href="/" class="nav-link dropdown-toggle fas fa-user-alt icon" data-bs-toggle="dropdown" role="button">Cadastro</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/editar">Editar Cadastro</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown"><a href="/" class="nav-link dropdown-toggle fas fa-calendar-check icon" data-bs-toggle="dropdown" role="button">Presença</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/atestado">Enviar atestado</a></li>
        </ul>
      </li>
  </ul>

</nav>

