body {
    
    height:100vh;
    width: 100%;
    background-color: #CCCCCC;

}

body main{
    background-color: #CCCCCC;
    width: 100vh;
}
.info-aluno{
    float:left; 

    width: 629px;
    height:296px;
    background-color: white;
    border-radius:16px;
    margin-top: 96px;
    margin-left: 96px;
}

.info-treino{
 
    float:right;
    width: 629px;
    height:360px;
    background-color: white;
    border-radius:16px;
    margin-top: 96px;
    margin-right: 106px;
}

.info-matricula{
    
    float: left;
    width: 629px;
    height:360px;
    background-color: white;
    border-radius:16px;
    margin-top: 48px;
    margin-left: 96px;
}

.info-acoes{
    float:right;
    width: 629px;
    height:296px;
    background-color: white;
    border-radius:16px;
    margin-top: 48px;
    margin-right: 106px;
}

.form-content{
    height: 888px;
    background-color:white;
    border-radius: 16px;
    margin-left: 96px;
    margin-top: 45px;
}
nav {
    height: 100%;
    background-color: #032565;
    opacity: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

.fa-home-alt:before, .fa-home-lg-alt:before, .fa-home:before, .fa-house:before, .fa-user-alt:before, .fa-user-large:before, .fa-calendar-check:before{
    margin-right: 12px;
    color:white;
}


.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }