*{
    font-family: open;
}
body {
    
    height:100vh;
    width: 100%;
    background-color: #CCCCCC;

}

body main{
    background-color: #CCCCCC;
    width: 100vh;
}
.info-aluno{
    float:left; 

    width: 629px;
    height:296px;
    background-color: white;
    border-radius:16px;
    margin-top: 96px;
    margin-left: 96px;
}

.info-treino{
 
    float:right;
    width: 629px;
    height:360px;
    background-color: white;
    border-radius:16px;
    margin-top: 96px;
    margin-right: 106px;
}

.info-matricula{
    
    float: left;
    width: 629px;
    height:360px;
    background-color: white;
    border-radius:16px;
    margin-top: 48px;
    margin-left: 96px;
}

.info-acoes{
    float:right;
    width: 629px;
    height:296px;
    background-color: white;
    border-radius:16px;
    margin-top: 48px;
    margin-right: 106px;
}

.form-content{
    height: 888px;
    background-color:white;
    border-radius: 16px;
    margin-left: 96px;
    margin-top: 45px;
}
nav {
    height: 100%;
    background-color: #032565;
    opacity: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

#label-cep{
    float: left;
}

#label-rua{
    float: left;
}
#label-numero{
    float: left;
}
#cep{
    width: 199px;
    margin-left:40px;
}
#rua{
    width: 489px;
    margin-left:40px;
}
#numero{
    width: 145px;
    margin-left:60px;
}

#bairro{
    width:463px;
}
#complemento{
    width: 372px;
}

#bairro, #complemento{
    margin-left: 80px;
}

#label-complemento, #label-bairro{
    float: left;
}

#label-cidade, #label-estado{
    float: left;
}

#estado{
    width: 165px;
}
#cidade{
    width: 310px;
}

 svg{
     color: white;
 }