<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>

    <main>
        <p>estou editan o cadastro do aluno</p>
        <p>testando merge conflicts  </p>
    </main>
    
</body>
</html>