<%- include('../partials/head'); %>

<body class="row">
    <%- include('../partials/header'); %>

    <main class="container col-10">
       <div class="form-content col-10">


       </div>
    </main>
    
</body>
<%- include('../partials/scripts'); %>
</html>