<%- include('../partials/head'); %>
<body class="row">
    <%- include('../partials/header'); %>
    <main class="container col-10">
        <div class="info-aluno"></div>
        <div class="info-treino"></div>
        <div class="info-matricula"></div>
        <div class="info-acoes"></div>
    </main>
    
</body>
<%- include('../partials/scripts'); %>
</html>